.search {
  width: 100%;
  background-color: #5384e0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.search input {
  background-color: #5384e0;
  color: white;
  padding-left: 20px;
  width: 50%;
}

.search input::placeholder {
  color: white;
}

.search i {
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.city-card {
  width: 50%;
  border: none;
  text-decoration: none;
}

.city-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.city-card div img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.city-card div p {
  margin: 0;
}

.bright {
  background-color: #4369b0;
  color: white;
}

.dark {
  background-color: #4164a8;
  color: white;
}
