.search {
  width: 100%;
  background-color: #5384e0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.search input {
  background-color: #5384e0;
  color: white;
  padding-left: 20px;
}

.search input::placeholder {
  padding-left: 10px;
  color: white;
}

.search i {
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.city-card {
  width: 50%;
  border: none;
  text-decoration: none;
}

.city-card:nth-child(2n+1) {
  background-color: #4066ad;
  color: white;
}

.city-card:nth-child(2n) {
  background-color: #3e61a3;
  color: white;
}
